.logo-link {
  text-decoration: none;
  color: #212121;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo {
  color: #2196f3;
}

.logo-footer-studio {
  color: #ffffff;
}

.logo-footer {
  color: #2196f3;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --secondary-text-color: #ffffff;
  --accent-color: #2196f3;
  --background-color: #2f303a;
  --background-color-2: #f5f4fa;
  --contacts-text-color: rgba(255, 255, 255, 0.6);
  --header-logo-color: #000000;
  --title-portfolio: #F5F5F5;
  --line-portfolio: #ECECEC;
  --icon-color: #AFB1B8;
  --tuming-funktion: cubic-bezier(0.4, 0, 0.2, 1)
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.page {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0px;
  padding-right: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
a {
  margin: 0;
}

img {
  display: block;
}

section {
  padding-top: 60px;
}
@media screen and (min-width: 1200px) {
  section {
    padding-top: 94px;
  }
}

.conteiner {
  width: 100%;
  max-width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px auto;
}
@media screen and (min-width: 768px) {
  .conteiner {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner {
    max-width: 1200px;
  }
}

.btn {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: transparent;
}

.hero {
  background-color: var(--background-color);
  max-width: 1600px;
  text-align: center;
  padding: 118px 0;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Headermob.jpg);
  background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Headermob.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Headermob@2x.jpg);
    background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Headermob@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Headertablet.jpg);
    background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Headertablet.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Headertablet@2x.jpg);
    background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Headertablet@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Header.jpg);
    background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Header.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Header@2x.jpg);
    background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Header@2x.jpg);
  }
}
.hero-title {
  max-width: 360px;
  margin: 0 auto 30px;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.61;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin: auto;
}
@media screen and (min-width: 1200px) {
  .hero-title {
    max-width: 700px;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
  }
}

.hero-button {
  border-radius: 4px;
  padding: 10px 30px;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  margin-top: 30px;
  cursor: pointer;
  border: transparent;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover, .hero-button:focus {
  color: var(--secondary-text-color);
}

.details {
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .details {
    padding-bottom: 0px;
  }
}
@media screen and (min-width: 768px) {
  .details__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
.details__group {
  gap: 30px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .details__group {
    margin-bottom: 0px;
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .details__group {
    margin-bottom: 0px;
    width: 270px;
  }
}
.details__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 120px;
  background-color: var(--background-color-2);
  border-radius: 4px;
  margin-bottom: 30px;
}
.details__title {
  text-align: center;
  margin-bottom: 5px;
  color: var(--title-text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.details__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.work {
  display: none;
}

@media screen and (min-width: 1200px) {
  .work {
    padding-bottom: 94px;
  }
  .work__title {
    margin-bottom: 50px;
    color: var(--title-text-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .work__nature {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px;
  }
  .work__card:not(:first-child) {
    margin-left: 30px;
  }
  .work__item {
    position: absolute;
    background-color: rgba(47, 48, 58, 0.8);
    width: 370px;
    height: 70px;
    text-align: center;
    padding: 27px 82px;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  .work__text {
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-text-color);
  }
}
.team {
  background-color: var(--background-color-2);
  padding: 60px 0px;
}
@media screen and (min-width: 1200px) {
  .team {
    padding: 94px 0px;
  }
}
.team__title {
  margin-bottom: 30px;
  color: var(--title-text-color);
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.team__list {
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .team__list {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    -ms-flex-preferred-size: calc((100% - 30px) / 4);
        flex-basis: calc((100% - 30px) / 4);
  }
}

@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
  }
}
.team-card__img {
  position: relative;
  width: 100%;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .team-card__img {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team-card__img {
    width: 270px;
  }
}

.team-card__img img {
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: auto;
}

.team-card {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--secondary-text-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .team-card {
    margin-bottom: 0px;
  }
}
.team-card__description {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-card__title {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-align: center;
}
.team-card__text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 10px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 16px;
}
.social-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--secondary-text-color);
  fill: var(--icon-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .social-list__link:hover, .social-list__link:focus {
    fill: var(--secondary-text-color);
    background-color: var(--accent-color);
  }
}
.social-list__icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.17;
  font-size: 36px;
  color: var(--title-text-color);
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}
.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 60px;
  gap: 30px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media screen and (min-width: 320px) {
  .clients__item {
    width: 290px;
  }
}
@media screen and (min-width: 480px) {
  .clients__item {
    height: 92px;
    width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: 170px;
  }
}
.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 92px;
  border: 1px solid var(--icon-color);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  fill: var(--icon-color);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}
.clients__icon {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  color: var(--contacts-text-color);
  background-color: var(--background-color);
}
.footer__logor {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__container {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.footer__logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
  }
}
.footer .footer__web {
  color: var(--accent-color);
  font-family: "Raleway";
  letter-spacing: 0.03em;
}

.footer-nav {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer-nav {
    margin-bottom: 0px;
  }
}
.footer-nav__address {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto";
  font-style: normal;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-nav__address:hover, .footer-nav__address:focus {
  color: var(--accent-color);
}
.footer-nav__list {
  margin: 0;
}
@media screen and (min-width: 1200px) {
  .footer-nav__list {
    text-align: start;
  }
}
.footer-nav__link:not(:last-child) {
  margin-bottom: 9px;
}
.footer-nav__mailto {
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-nav__mailto:hover, .footer-nav__mailto:focus {
  color: var(--accent-color);
}
.footer-nav .footer-nav__tel {
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.footer-nav .footer-nav__tel:hover, .footer-nav .footer-nav__tel:focus {
  color: var(--accent-color);
}

.footer-socials {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
@media screen and (min-width: 1200px) {
  .footer-socials {
    margin-left: 70px;
  }
}
.footer-socials__title {
  font-size: 14px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  font-weight: 700;
  font-style: normal;
  line-height: 1.17;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-socials__title {
    text-align: left;
  }
}
.footer-socials__list {
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer-socials__adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-color: var(--accent-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-socials__adress:hover, .footer-socials__adress:focus {
  background-color: var(--accent-color);
}
.footer-socials__icon {
  fill: var(--secondary-text-color);
}

.footer-subscribe {
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .footer-subscribe {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer-subscribe {
    margin-right: 0px;
    margin-top: 0px;
  }
}
.footer-subscribe__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-subscribe__title {
    text-align: left;
  }
}
.footer-subscribe__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 1200px) {
  .footer-subscribe {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 12px;
  }
}
.footer-subscribe__form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .footer-subscribe__form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 12px;
  }
}
.footer-subscribe__email {
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  color: var(--secondary-text-color);
  outline: none;
}
@media screen and (min-width: 768px) {
  .footer-subscribe__email {
    width: 450px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .footer-subscribe__email {
    margin-right: 12px;
    max-width: 358px;
  }
}
.footer-subscribe__email:focus {
  border: 1px solid var(--accent-color);
}
.footer-subscribe__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  height: 50px;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.8;
  border: none;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
  border-radius: 4px;
  align-items: center;
  padding-left: 29px;
  padding-right: 29px;
  cursor: pointer;
}
.footer-subscribe__logo {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.footer__adress {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__adress {
    text-align: start;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 260ms linear;
  transition: opacity 260ms linear;
  padding: 15px 40px;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  width: 100%;
  max-width: 450px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition: opacity 260ms linear 100ms, -webkit-transform 260ms linear 100ms;
  transition: opacity 260ms linear 100ms, -webkit-transform 260ms linear 100ms;
  transition: transform 260ms linear 100ms, opacity 260ms linear 100ms;
  transition: transform 260ms linear 100ms, opacity 260ms linear 100ms, -webkit-transform 260ms linear 100ms;
  opacity: 1;
  background-color: var(--secondary-text-color);
}
@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 520px;
  }
}

.form {
  margin: 0px;
  padding: 40px;
  width: 100%;
}
.form__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 12px;
}
.form__label {
  display: block;
  margin: 10px 0px 4px 0px;
}
.form__input {
  height: 40px;
  width: 100%;
  padding: 0px 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
}
.form__input:focus {
  border-color: var(--accent-color);
}
.form__input:focus + .form__icon {
  fill: var(--accent-color);
}
.form__input::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}
.form__input::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}
.form__input:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}
.form__input::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}
.form__input::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}
.form__icon {
  -webkit-transform: translateY(-170%);
          transform: translateY(-170%);
  margin-left: 12px;
}
.form__icon:focus {
  border-color: var(--accent-color);
}
.form__icon:focus + .form__icon {
  fill: var(--accent-color);
}

textarea.form__input {
  min-height: 120px;
  resize: none;
  padding: 12px 16px;
}

.checkbox {
  margin-top: 20px;
}
.checkbox__lebel {
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 2;
  margin-left: 14px;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 30px;
}
.checkbox-input {
  /* visibility: hidden; */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  overflow: hidden;
}
.checkbox__input:checked + .checkbox__icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  outline: none;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: padding-box;
  /* background-origin:border-box; */
}
.checkbox__icon {
  content: "";
  display: inline-block;
  border-radius: 2px;
  border: 2px solid var(--title-text-color);
  height: 15px;
  width: 16px;
  background-color: var(--secondary-text-color);
  cursor: pointer;
  background-image: url(../images/Vector\ \(8\)\ \(1\).svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transform: translateY(15%);
          transform: translateY(15%);
}
.checkbox__consent {
  margin-left: 5px;
  color: var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
}
.checkbox__input {
  /* visibility: hidden; */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  overflow: hidden;
}

.form-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 50px;
  min-width: 200px;
  border-radius: 4px;
  padding: 10px 52px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  margin-top: 30px;
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
  border: transparent;
  cursor: pointer;
}

.hero-button-close {
  min-width: 35px;
  min-height: 35px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 8px;
  margin-right: 8px;
  background: var(--secondary-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
}

.hero-button-close:focus,
.hero-button-close:hover {
  /* background-origin: content-box ; */
  fill: var(--accent-color);
  /* border-color: var(--accent-color); */
  cursor: pointer;
}

.portfolio-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}
.portfolio-button__link:not(:first-child) {
  margin-left: 8px;
}
.portfolio-button__list {
  padding: 6px 22px;
  border-radius: 4px;
  color: var(--title-text-color);
  background-color: var(--title-portfolio);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  font-family: "Roboto", sans-serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: transparent;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-box-shadow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
          box-shadow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-button__list:hover, .portfolio-button__list:focus {
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.porfolio-conteiner {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 94px;
}
.porfolio-conteiner__list:nth-child(n+7) {
  margin-bottom: 0px;
}
.porfolio-conteiner__list {
  margin-bottom: 30px;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.porfolio-conteiner__list:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.porfolio-conteiner__list:focus-within {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.porfolio-conteiner__list:nth-child(3n) {
  margin-right: 0px;
}

.product {
  display: block;
}
.product__box {
  position: relative;
  overflow: hidden;
}
.product__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--accent-color);
  background: rgba(33, 150, 243, 0.9);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  color: var(--secondary-text-color);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms var(--tuming-funktion);
  transition: -webkit-transform 250ms var(--tuming-funktion);
  transition: transform 250ms var(--tuming-funktion);
  transition: transform 250ms var(--tuming-funktion), -webkit-transform 250ms var(--tuming-funktion);
}
.product:hover .product__overlay, .product:focus .product__overlay {
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}
.product__title {
  border-left: 1px solid var(--title-portfolio);
  border-right: 1px solid var(--title-portfolio);
  border-bottom: 1px solid var(--title-portfolio);
  padding: 20px 24px;
}
.product__sample {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}
.product__info {
  font-family: "Roboto";
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.header {
  border-bottom: 1px solid #ececec;
}

.studio {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #212121;
}
.studio:hover, .studio:focus {
  color: #2196f3;
}

.studio--active {
  position: relative;
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .studio {
    position: relative;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .studio--active::after {
    position: absolute;
    width: 100%;
    height: 4px;
    margin-top: 28px;
    content: "";
    display: block;
    background-color: var(--accent-color);
    border-radius: 2px;
    margin-top: 28px;
  }
}
.header__icon-close:hover, .header__icon-close:focus {
  fill: var(--accent-color);
}

.nav-contacts-linka {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mobile-menu-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .nav-contacts-linka {
    margin-top: 0px;
    margin-top: auto;
  }
}
@media screen and (max-width: 767px) {
  .icon-mail {
    display: none;
  }
  .icon-smartphone {
    display: none;
  }
  .nav-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-bottom: 64px;
  }
  .header {
    max-width: 768px;
    min-width: 300px;
  }
  .header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .header__navigation {
    width: 100%;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
  }
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__mobile-button {
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 40px;
    height: 40px;
  }
  .header__mobile-button:hover, .header__mobile-button:focus {
    fill: var(--accent-color);
  }
  .header__close-button {
    position: absolute;
    top: 21px;
    right: 5px;
    background-color: #fff;
  }
  .header__close-button:hover, .header__close-button:focus {
    fill: var(--accent-color);
  }
  .header__mobile-menu {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 100%;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    padding-left: 40px;
    padding-top: 48px;
    padding-bottom: 40px;
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
  }
  .header__mobile-menu.is-open {
    opacity: 100%;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
  }
  .header-item:not(:last-child) {
    margin-bottom: 35px;
  }
  .header__contacts-item:first-child {
    margin-top: 32px;
  }
  .header__contacts-link {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #757575;
  }
  .header__contacts-list {
    margin-bottom: 64px;
  }
  .header__contacts-link.header__phone {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    fill: currentColor;
    letter-spacing: 0.02em;
  }
  .header__contacts-link.header__phone:hover, .header__contacts-link.header__phone:hover {
    color: #2196f3;
    font-size: 34px;
    line-height: 40px;
  }
  .icon-mobile,
.icon-envelope {
    display: none;
  }
  .header__social-network-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header__social-network-item:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  .header__social-network-item:not(:first-child) {
    margin-left: 10px;
  }
  .header__social-network-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
  }
}
@media screen and (min-width: 720px) and (max-width: 1199px) {
  .container {
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
  }
  .our-clients__client-item {
    margin-left: 30px;
  }
  .our-clients__client-item:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
  }
  .nav-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header-item:last-child {
    margin-right: 64px;
  }
  .current::after {
    content: "";
    position: absolute;
    bottom: 539px;
    left: 245px;
    display: block;
    width: 50px;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
  }
}
@media screen and (min-width: 768px) {
  .header__wrapper {
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 88px;
  }
  .header__mobile-button {
    display: none;
  }
  .header__close-button {
    display: none;
  }
  .current {
    color: #2196f3;
  }
  .header__mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
  }
  .header-item:not(:last-child) {
    margin-right: 50px;
  }
  .header__contacts-link.header__phone,
.header__contacts-link {
    text-decoration: none;
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    font-style: normal;
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: currentColor;
  }
  .header__contacts-link.header__phone:hover, .header__contacts-link.header__phone:focus,
.header__contacts-link:hover,
.header__contacts-link:focus {
    color: #2196f3;
    text-decoration: none;
  }
  .header__social-network-list {
    display: none;
    margin-top: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header__social-network-item:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  .header__social-network-item:not(:first-child) {
    margin-left: 10px;
  }
  .header__social-network-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
  .nav-header {
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__contacts-item {
    position: relative;
    margin-bottom: 10px;
  }
  .icon-mail {
    position: absolute;
    top: 2px;
    left: -25px;
    margin-right: 10px;
    width: 16px;
    height: 12px;
    cursor: pointer;
    fill: currentColor;
  }
  .icon-smartphone {
    position: absolute;
    top: 0px;
    left: -22px;
    margin-right: 10px;
    width: 10px;
    height: 16px;
    cursor: pointer;
    fill: currentColor;
  }
  .nav-contacts {
    margin-left: auto;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__contacts-list {
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    width: 100%;
  }
  .nav-contacts {
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__container {
    width: 1200px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header__wrapper {
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 93px;
  }
  .header__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .header__mobile-button {
    display: none;
  }
  .header__close-button {
    display: none;
  }
  .current {
    color: #2196f3;
  }
  .header__mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .nav-header {
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .current::after {
    content: "";
    position: absolute;
    bottom: 562px;
    left: 305px;
    display: block;
    width: 50px;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
  }
  .header__contacts-item:last-child {
    margin-left: 50px;
  }
  .header__contacts-item {
    position: relative;
  }
  .header__contacts-link.header__phone,
.header__contacts-link {
    text-decoration: none;
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    font-style: normal;
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__contacts-link.header__phone:hover, .header__contacts-link.header__phone:focus,
.header__contacts-link:hover,
.header__contacts-link:focus {
    color: #2196f3;
    text-decoration: none;
  }
  .header__contacts-list {
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .header__social-network-item:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  .header__social-network-item:not(:first-child) {
    margin-left: 10px;
  }
  .header__social-network-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
  .icon-mail {
    position: absolute;
    top: 4px;
    left: -25px;
    margin-right: 10px;
    width: 16px;
    height: 12px;
    cursor: pointer;
    fill: currentColor;
  }
  .icon-smartphone {
    position: absolute;
    top: 0px;
    left: -20px;
    margin-right: 10px;
    width: 10px;
    height: 16px;
    cursor: pointer;
    fill: currentColor;
  }
}/*# sourceMappingURL=main.css.map */