.backdrop{
   position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 260ms linear;
   padding: 15px 40px;
}
.backdrop.is-hidden{
 
opacity: 0;
pointer-events: none;
visibility: hidden;
}
.modal{

  position: absolute;
  width: 100%;
  max-width: 450px;
   top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
 transition: transform 260ms linear 100ms, opacity 260ms linear 100ms;
   opacity: 1;
  background-color: var(--secondary-text-color);
  @include tablet{
    width: 450px;
  
  }
  @include destop{
     width: 520px;
  }}
  .form{
  margin: 0px ;
  padding: 40px;
width: 100%;
&__title{
    @include font(20px, 700, 1.15);

text-align: center;
letter-spacing: 0.03em;
color: var(--title-text-color);
margin-bottom: 12px;
}
&__label{
  display: block;
  margin: 10px 0px 4px 0px;

}

&__input{
  height: 40px;
  width: 100%;
  padding: 0px 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
 outline: none;
 &:focus {
  border-color: var(--accent-color);
}
&:focus+.form__icon{
  fill: var(--accent-color);
}
}

&__input::placeholder{
color: rgba(117, 117, 117, 0.5);
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.01em;
}
&__icon{
//   position: absolute;
  transform: translateY(-170%);

  margin-left: 12px;
//    top: 65%;
   &:focus {
  border-color: var(--accent-color);
}
&:focus+.form__icon{
  
  fill: var(--accent-color);
  
}

}
}
textarea.form__input{
  min-height: 120px;
  resize: none;
 padding: 12px 16px;

}
.checkbox{

  margin-top: 20px;
 &__lebel{
  font-family: 'Roboto';
font-style: normal;
  @include font(14px, 400, 2);

margin-left: 14px;
text-decoration: none;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 30px;
  
} 
&-input{
  /* visibility: hidden; */
appearance:none;
position: absolute;
overflow: hidden;

}
&__input:checked + &__icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);

  outline: none;
  background-position:center ;
 background-repeat: no-repeat;
   background-origin: padding-box;
  /* background-origin:border-box; */
}
&__icon{
 
content :"";
  display: inline-block;
  border-radius:  2px;
  border:2px solid var(--title-text-color);
   height: 15px;
width: 16px;
// margin-right: 7px;
background-color:var(--secondary-text-color);
cursor: pointer;
background-image:url(../images/Vector\ \(8\)\ \(1\).svg);
background-position:center ;
 background-repeat: no-repeat; 
   transform: translateY(15%);
}
  &__consent{
margin-left: 5px;
  color: var(--accent-color);
border-bottom: 1px solid var(--accent-color);
}
&__input{
  /* visibility: hidden; */
appearance:none;
position: absolute;
overflow: hidden;
}
}
.form-button{
display:flex;
min-height: 50px;
min-width: 200px;
border-radius: 4px;
padding: 10px 52px;
justify-content: center;
align-items: center;
margin: auto;
margin-top: 30px;
background-color: var(--accent-color);
color: var(--secondary-text-color);
border: transparent;
cursor: pointer;
}
.hero-button-close{
  min-width: 35px;
  min-height: 35px;
  padding: 0;
  display: flex;
 align-items: center;
 justify-content: center;
  margin-top: 8px;
  margin-right: 8px;
 
  background:var(--secondary-text-color);
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 50% ;
  position: absolute;
}
.hero-button-close:focus,
.hero-button-close:hover{
  /* background-origin: content-box ; */
fill:var(--accent-color);
/* border-color: var(--accent-color); */
cursor: pointer;
}